@font-face {
  font-family: 'IAMAPLAYER';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



.wrapper {
  background-color: #000;
  width: 100vw;
  height: 100%;
}
.nav-item {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
.nav-item:hover {
  color: #f00;
}
.banner {
  height: 600px;
  color: #fff;
  display: flex;
  align-items: center;
}
.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, black, transparent);
}
.banner-info {
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}
.slide {
  color: #fff;
}
.loader {
  margin-left: 50%;
}
.card {
  width: 300px;
  height: 200px !important;
  background-position: center;
  background-repeat: no-repeat;
}
.card h1, span {
  color: #fff;
}
.card h1 {
  font-size: 24px;
}
.overlay {
  opacity: 0;
}
.card:hover {
  cursor: pointer;
}
.card:hover .overlay{
  opacity: 1;
  padding: 10px;
  background-color: rgba(43, 41, 41, 0.5);
  transition: 0.2s;
}

.MovieDetail {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #181818;

  font-family: 'IAMAPLAYER';
}
.detail-contents {
  width: 70%;
  height: 100%;

  margin-top: 30px;
  
  background-color: #000;
  border-radius: 20px;
}
.detail-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  width: 100%;
  height: 70%;

  border-radius: 20px;
  flex: 1;
}
.detail-item {
  width: 100%;
  height: 100%;

}
.detail-item .x-icon-box {
  display: flex;
  justify-content: end;
}
.x-icon-box .x-icon {
  font-size: 36px;
  color: #fff;
}
.x-icon-box .x-icon-background {
  background-color: #181818;
  width: 36px;
  height: 36px;

  margin-top: 13px;
  margin-right: 13px;

  border-radius: 50%;
}
.detail-title {
  flex: 1;
}
.detail-title h1{
  color: #fff
}
.detail-info {
  width: 100%;
  height: 30%;
  display: flex;
  flex: 1;
  margin-top: 20px;
  margin-left: 20px;
}
.detail-left {
  flex: 2;
}
.detail-date {

}
.detail-date h2 {
  color: #fff;
  font-size: 16px;
  
}
.detail-desc {

}
.detail-desc h4 {
  color: #fff;
  font-size: 16px;
  
}
.detail-genre {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px ;
  margin-top: 20px;
  margin-right: 11px;
}